body {
    font-family: 'Hind Siliguri';
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    color: #1B4B36;
}

.rectangle {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    height: 40px;
    width: 400px;
    background-color: #EBFF3D;;
}

.watch {
    text-align: center;
    padding: 20px;
    color: #000000;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.custom-button {
    background-color: #1B4B36;
    color:  #EBFF3D;
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 18px; 
    display: flex;
    align-items: center; 
}

.custom-button:hover {
    background-color: #388e3c; 
}

.button-icon {
    width: 24px;
    height: 24px; 
    margin-left: 10px; 
}